
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Cookie&family=Delius&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #430169;
  --foreground: #ffffff;
}

@theme{
  --font-outfit : Outfit , sans-serif;
  --font-cookie : Cookie,sans-serif;
  --font-delius : Delius,sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "outfit", Helvetica, sans-serif;
  min-height: 100vh ;
  min-width: 100vw;
  overflow-x: hidden;
}
